<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <threadName/>
                    <pattern>
                        <pattern>
                            {
                            "service": "${spring.application.name:-warehouse-service}",
                            "pid": "${PID}",
                            "traceId": "%mdc{traceId}",
                            "spanId": "%mdc{spanId}",
                            "class": "%logger{40}",
                            "message": "%message",
                            "stack_trace": "%ex"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <logger name="org.springframework.amqp" level="INFO"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>